# Exercise 4

**Match searches with bookings**

- For every search in the searches file, find out whether the search ended up in a booking or not (using the info in the bookings file). For instance, search and booking origin and destination should match.
- For the bookings file, origin and destination are the columns `dep_port` and `arr_port`, respectively.
- Generate a CSV file with the search data, and an additional field, containing 1 if the search ended up in a booking, and 0 otherwise.

### Modules and libraries

In [1]:
import numpy as np
import pandas as pd

### Work path

1. Get familiar with data
2. Prepare the data for processing
3. Make action plan
4. Develop the code that works with a sample
5. Adjust the code to work with Big data
6. Test big data approach on a sample
7. Run program with big data

In [2]:
# Where is the data

folder_path = "C:/Users/Pablo Villar/Desktop/CURSOS/KSchool/MÃ¡ster en Data Science/8. Data Science Challenge/"
bookings_file = "bookings.csv.bz2"
searches_file = "searches.csv.bz2"

In [28]:
# Function to read a sample of the file

def read_sample_file(path: str):
    df = pd.read_csv(path,
                nrows=1e6,          # for sample data
                sep='^',
                compression='bz2')
    return df

In [ ]:
read_sample_file(folder_path+bookings_file)

Making sample variables for the files

In [31]:
bookings_sample = read_sample_file(folder_path+bookings_file)

In [32]:
searches_sample = read_sample_file(folder_path+searches_file)

C:\Users\Pablo Villar\AppData\Local\Temp\ipykernel_3332\2203982266.py:4: DtypeWarning: Columns (44) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(path,

## 1. Get familiar with data
**Basic Data Exploration**

In [33]:
bookings_sample.shape

(1000000, 38)

In [34]:
searches_sample.shape

(1000000, 45)

In [35]:
bookings_sample.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 38 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   act_date             1000000 non-null  object
 1   source               1000000 non-null  object
 2   pos_ctry             1000000 non-null  object
 3   pos_iata             1000000 non-null  object
 4   pos_oid              1000000 non-null  object
 5   rloc                 1000000 non-null  object
 6   cre_date             1000000 non-null  object
 7   duration             1000000 non-null  int64
 8   distance             1000000 non-null  int64
 9   dep_port             1000000 non-null  object
 10  dep_city             1000000 non-null  object
 11  dep_ctry             1000000 non-null  object
 12  arr_port             1000000 non-null  object
 13  arr_city             1000000 non-null  object
 14  arr_ctry             1000000 non-null  object
 15  lst_port             1000000 non-null  object
 16  lst_city             1000000 non-null  object
 17  lst_ctry             1000000 non-null  object
 18  brd_port             1000000 non-null  object
 19  brd_city             1000000 non-null  object
 20  brd_ctry             1000000 non-null  object
 21  off_port             1000000 non-null  object
 22  off_city             1000000 non-null  object
 23  off_ctry             1000000 non-null  object
 24  mkt_port             1000000 non-null  object
 25  mkt_city             1000000 non-null  object
 26  mkt_ctry             1000000 non-null  object
 27  intl                 1000000 non-null  int64
 28  route                1000000 non-null  object
 29  carrier              1000000 non-null  object
 30  bkg_class            1000000 non-null  object
 31  cab_class            1000000 non-null  object
 32  brd_time             1000000 non-null  object
 33  off_time             1000000 non-null  object
 34  pax                  1000000 non-null  int64
 35  year                 1000000 non-null  int64
 36  month                1000000 non-null  int64
 37  oid                  1000000 non-null  object
dtypes: int64(6), object(32)
memory usage: 289.9+ MB

In [36]:
searches_sample.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 45 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   Date               1000000 non-null  object
 1   Time               1000000 non-null  object
 2   TxnCode            1000000 non-null  object
 3   OfficeID           1000000 non-null  object
 4   Country            999878 non-null   object
 5   Origin             1000000 non-null  object
 6   Destination        1000000 non-null  object
 7   RoundTrip          1000000 non-null  int64
 8   NbSegments         1000000 non-null  int64
 9   Seg1Departure      1000000 non-null  object
 10  Seg1Arrival        1000000 non-null  object
 11  Seg1Date           997115 non-null   object
 12  Seg1Carrier        375381 non-null   object
 13  Seg1BookingCode    102150 non-null   object
 14  Seg2Departure      709149 non-null   object
 15  Seg2Arrival        709149 non-null   object
 16  Seg2Date           705715 non-null   object
 17  Seg2Carrier        260679 non-null   object
 18  Seg2BookingCode    87751 non-null    object
 19  Seg3Departure      51910 non-null    object
 20  Seg3Arrival        51910 non-null    object
 21  Seg3Date           51600 non-null    object
 22  Seg3Carrier        49383 non-null    object
 23  Seg3BookingCode    47297 non-null    object
 24  Seg4Departure      42044 non-null    object
 25  Seg4Arrival        42044 non-null    object
 26  Seg4Date           41769 non-null    object
 27  Seg4Carrier        41696 non-null    object
 28  Seg4BookingCode    41177 non-null    object
 29  Seg5Departure      8007 non-null     object
 30  Seg5Arrival        8007 non-null     object
 31  Seg5Date           7936 non-null     object
 32  Seg5Carrier        7965 non-null     object
 33  Seg5BookingCode    7840 non-null     object
 34  Seg6Departure      4791 non-null     object
 35  Seg6Arrival        4791 non-null     object
 36  Seg6Date           4738 non-null     object
 37  Seg6Carrier        4786 non-null     object
 38  Seg6BookingCode    4695 non-null     object
 39  From               983376 non-null   object
 40  IsPublishedForNeg  1000000 non-null  int64
 41  IsFromInternet     1000000 non-null  int64
 42  IsFromVista        1000000 non-null  int64
 43  TerminalID         1000000 non-null  object
 44  InternetOffice     1000000 non-null  object
dtypes: int64(5), object(40)
memory usage: 343.3+ MB

In [37]:
bookings_sample.columns.tolist()

['act_date           ',
 'source',
 'pos_ctry',
 'pos_iata',
 'pos_oid  ',
 'rloc          ',
 'cre_date           ',
 'duration',
 'distance',
 'dep_port',
 'dep_city',
 'dep_ctry',
 'arr_port',
 'arr_city',
 'arr_ctry',
 'lst_port',
 'lst_city',
 'lst_ctry',
 'brd_port',
 'brd_city',
 'brd_ctry',
 'off_port',
 'off_city',
 'off_ctry',
 'mkt_port',
 'mkt_city',
 'mkt_ctry',
 'intl',
 'route          ',
 'carrier',
 'bkg_class',
 'cab_class',
 'brd_time           ',
 'off_time           ',
 'pax',
 'year',
 'month',
 'oid      ']

In [38]:
searches_sample.columns.tolist()

['Date',
 'Time',
 'TxnCode',
 'OfficeID',
 'Country',
 'Origin',
 'Destination',
 'RoundTrip',
 'NbSegments',
 'Seg1Departure',
 'Seg1Arrival',
 'Seg1Date',
 'Seg1Carrier',
 'Seg1BookingCode',
 'Seg2Departure',
 'Seg2Arrival',
 'Seg2Date',
 'Seg2Carrier',
 'Seg2BookingCode',
 'Seg3Departure',
 'Seg3Arrival',
 'Seg3Date',
 'Seg3Carrier',
 'Seg3BookingCode',
 'Seg4Departure',
 'Seg4Arrival',
 'Seg4Date',
 'Seg4Carrier',
 'Seg4BookingCode',
 'Seg5Departure',
 'Seg5Arrival',
 'Seg5Date',
 'Seg5Carrier',
 'Seg5BookingCode',
 'Seg6Departure',
 'Seg6Arrival',
 'Seg6Date',
 'Seg6Carrier',
 'Seg6BookingCode',
 'From',
 'IsPublishedForNeg',
 'IsFromInternet',
 'IsFromVista',
 'TerminalID',
 'InternetOffice']

In [39]:
bookings_sample.head()

,act_date,source,pos_ctry,pos_iata,pos_oid,rloc,cre_date,duration,distance,dep_port,...,route,carrier,bkg_class,cab_class,brd_time,off_time,pax,year,month,oid
0,2013-03-05 00:00:00,1A,DE,a68dd7ae953c8acfb187a1af2dcbe123,1a11ae49fcbf545fd2afc1a24d88d2b7,ea65900e72d71f4626378e2ebd298267,2013-02-22 00:00:00,1708,0,ZRH,...,LHRZRH,VI,T,Y,2013-03-07 08:50:00,2013-03-07 11:33:37,-1,2013,3,NULL
1,2013-03-26 00:00:00,1A,US,e612b9eeeee6f17f42d9b0d3b79e75ca,7437560d8f276d6d05eeb806d9e7edee,737295a86982c941f1c2da9a46a14043,2013-03-26 00:00:00,135270,0,SAL,...,SALATLCLT,NV,L,Y,2013-04-12 13:04:00,2013-04-12 22:05:40,1,2013,3,NULL
2,2013-03-26 00:00:00,1A,US,e612b9eeeee6f17f42d9b0d3b79e75ca,7437560d8f276d6d05eeb806d9e7edee,737295a86982c941f1c2da9a46a14043,2013-03-26 00:00:00,135270,0,SAL,...,CLTATLSAL,NV,U,Y,2013-07-15 07:00:00,2013-07-15 11:34:51,1,2013,3,NULL
3,2013-03-26 00:00:00,1A,AU,0f984b3bb6bd06661c95529bbd6193bc,36472c6dbaf7afec9136ac40364e2794,5ecf00fdcbcec761c43dc7285253d0c1,2013-03-26 00:00:00,30885,0,AKL,...,AKLHKGSVO,XK,G,Y,2013-04-24 23:59:00,2013-04-25 16:06:31,1,2013,3,SYDA82546
4,2013-03-26 00:00:00,1A,AU,0f984b3bb6bd06661c95529bbd6193bc,36472c6dbaf7afec9136ac40364e2794,5ecf00fdcbcec761c43dc7285253d0c1,2013-03-26 00:00:00,30885,0,AKL,...,SVOHKGAKL,XK,G,Y,2013-05-14 20:15:00,2013-05-16 10:44:50,1,2013,3,SYDA82546

In [40]:
searches_sample.head()

,Date,Time,TxnCode,OfficeID,Country,Origin,Destination,RoundTrip,NbSegments,Seg1Departure,...,Seg6Arrival,Seg6Date,Seg6Carrier,Seg6BookingCode,From,IsPublishedForNeg,IsFromInternet,IsFromVista,TerminalID,InternetOffice
0,2013-01-01,20:25:57,MPT,624d8c3ac0b3a7ca03e3c167e0f48327,DE,TXL,AUH,1,2,TXL,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,FRA
1,2013-01-01,10:15:33,MPT,b0af35b31588dc4ab06d5cf2986e8e02,MD,ATH,MIL,0,1,ATH,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,KIV
2,2013-01-01,18:04:49,MPT,3561a60621de06ab1badc8ca55699ef3,US,ICT,SFO,1,2,ICT,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,NYC
3,2013-01-01,17:42:40,FXP,1864e5e8013d9414150e91d26b6a558b,SE,RNB,ARN,0,1,RNB,...,NaN,NaN,NaN,NaN,1ASI,0,0,0,d41d8cd98f00b204e9800998ecf8427e,STO
4,2013-01-01,17:48:29,MPT,1ec336348f44207d2e0027dc3a68c118,NO,OSL,MAD,1,2,OSL,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,OSL

### Columns that we need from bookings file to match with searches:

|searches [index]|bookings [index]|
|:---:|:---:|
|Origin [5]|dep_port [9]|
|Destination [6]|arr_port [12]|
|Date [0]|act_date [0]|

I take `act_date` column because seems logic to put the date like searching at the beggining

Always it's better to know more about the data columns to do a good exploration

## 2. Prepare the data for processing

In [41]:
interest_columns_bookings = [9,12,0]

bookings_sample_interest = bookings_sample.iloc[:,interest_columns_bookings]
bookings_sample_interest.head()

   dep_port  arr_port  act_date
0  ZRH       LHR       2013-03-05 00:00:00
1  SAL       CLT       2013-03-26 00:00:00
2  SAL       CLT       2013-03-26 00:00:00
3  AKL       SVO       2013-03-26 00:00:00
4  AKL       SVO       2013-03-26 00:00:00

`act_date` don't have the correct format so we will take the date slicing it

In [42]:
bookings_sample_interest.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 3 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   dep_port             1000000 non-null  object
 1   arr_port             1000000 non-null  object
 2   act_date             1000000 non-null  object
dtypes: object(3)
memory usage: 22.9+ MB

In [43]:
bookings_sample_interest.columns = bookings_sample_interest.columns.str.strip()
bookings_sample_interest.columns.tolist()

['dep_port', 'arr_port', 'act_date']

In [44]:
bookings_sample_interest['act_date'] = bookings_sample_interest['act_date'].str[:10]
bookings_sample_interest['act_date']

C:\Users\Pablo Villar\AppData\Local\Temp\ipykernel_3332\1458860835.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bookings_sample_interest['act_date'] = bookings_sample_interest['act_date'].str[:10]

0         2013-03-05
1         2013-03-26
2         2013-03-26
3         2013-03-26
4         2013-03-26
             ...
999995    2013-05-18
999996    2013-05-18
999997    2013-05-28
999998    2013-05-28
999999    2013-05-28
Name: act_date, Length: 1000000, dtype: object

Before we proceed to remove the time, we first need to convert the column `act_date` to pandas datetime.

In [45]:
# convert to datetime
bookings_sample_interest['act_date'] = pd.to_datetime(bookings_sample_interest['act_date'])
bookings_sample_interest.dtypes

C:\Users\Pablo Villar\AppData\Local\Temp\ipykernel_3332\4043701659.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bookings_sample_interest['act_date'] = pd.to_datetime(bookings_sample_interest['act_date'])

dep_port            object
arr_port            object
act_date    datetime64[ns]
dtype: object

In [46]:
# remove time from Date and it returns us an object type like before
bookings_sample_interest['act_date'] = bookings_sample_interest['act_date'].dt.date

C:\Users\Pablo Villar\AppData\Local\Temp\ipykernel_3332\1099157437.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bookings_sample_interest['act_date'] = bookings_sample_interest['act_date'].dt.date

In [47]:
bookings_sample_interest.dtypes

dep_port    object
arr_port    object
act_date    object
dtype: object

In [48]:
bookings_sample_interest.head()

   dep_port  arr_port    act_date
0  ZRH       LHR       2013-03-05
1  SAL       CLT       2013-03-26
2  SAL       CLT       2013-03-26
3  AKL       SVO       2013-03-26
4  AKL       SVO       2013-03-26

Now go with searches

In [49]:
interest_columns_searches = [5,6,0]

searches_sample_interest = searches_sample.iloc[:,interest_columns_searches]
searches_sample_interest.columns.tolist()

['Origin', 'Destination', 'Date']

In [50]:
searches_sample_interest.head()

  Origin Destination        Date
0    TXL         AUH  2013-01-01
1    ATH         MIL  2013-01-01
2    ICT         SFO  2013-01-01
3    RNB         ARN  2013-01-01
4    OSL         MAD  2013-01-01

We need to check the quality of the data that we didn't check yet

**Na values** or **duplicates**

In [52]:
bookings_sample_interest.isna().sum()

dep_port    0
arr_port    0
act_date    0
dtype: int64

In [77]:
bookings_sample.shape

(1000000, 38)

In [76]:
# Checking unique dep_ports in the sample

len(bookings_sample_interest['dep_port'].unique())

2146

In [83]:
print(str((2146/1000000)*100) + " %")

0.21459999999999999 %

In [85]:
# Checking the size of the values in dep_port should got 3 for the iata_codes

[i for i in bookings_sample_interest['dep_port'] if len(i)<=3]

[]

In [86]:
bookings_sample_interest['dep_port'] = bookings_sample_interest['dep_port'].str.strip()

C:\Users\Pablo Villar\AppData\Local\Temp\ipykernel_3332\3708970926.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bookings_sample_interest['dep_port'] = bookings_sample_interest['dep_port'].str.strip()

In [94]:
[len(i) for i in bookings_sample_interest['dep_port'] if len(i)>3]

[]

In [ ]:
np.count_nonzero(bookings_sample_interest)