# Exercise 4

**Match searches with bookings**

- For every search in the searches file, find out whether the search ended up in a booking or not (using the info in the bookings file). For instance, search and booking origin and destination should match.
- For the bookings file, origin and destination are the columns `dep_port` and `arr_port`, respectively.
- Generate a CSV file with the search data, and an additional field, containing 1 if the search ended up in a booking, and 0 otherwise.

### Modules and libraries

In [2]:
import numpy as np
import pandas as pd

### Work path

1. Get familiar with data
2. Prepare the data for processing
3. Make action plan
4. Develop the code that works with a sample
5. Adjust the code to work with Big data
6. Test big data approach on a sample
7. Run program with big data

In [3]:
# Where is the data

folder_path = "C:/Users/Pablo Villar/Desktop/CURSOS/KSchool/MÃ¡ster en Data Science/8. Data Science Challenge/"
bookings_file = "bookings.csv.bz2"
searches_file = "searches.csv.bz2"

In [4]:
# Function to read a sample of the file

def read_sample_file(path: str):
    df = pd.read_csv(path,
                nrows=1e6,          # for sample data
                sep='^',
                compression='bz2')
    return df

In [5]:
read_sample_file(folder_path+bookings_file)

,act_date,source,pos_ctry,pos_iata,pos_oid,rloc,cre_date,duration,distance,dep_port,...,route,carrier,bkg_class,cab_class,brd_time,off_time,pax,year,month,oid
0,2013-03-05 00:00:00,1A,DE,a68dd7ae953c8acfb187a1af2dcbe123,1a11ae49fcbf545fd2afc1a24d88d2b7,ea65900e72d71f4626378e2ebd298267,2013-02-22 00:00:00,1708,0,ZRH,...,LHRZRH,VI,T,Y,2013-03-07 08:50:00,2013-03-07 11:33:37,-1,2013,3,NULL
1,2013-03-26 00:00:00,1A,US,e612b9eeeee6f17f42d9b0d3b79e75ca,7437560d8f276d6d05eeb806d9e7edee,737295a86982c941f1c2da9a46a14043,2013-03-26 00:00:00,135270,0,SAL,...,SALATLCLT,NV,L,Y,2013-04-12 13:04:00,2013-04-12 22:05:40,1,2013,3,NULL
2,2013-03-26 00:00:00,1A,US,e612b9eeeee6f17f42d9b0d3b79e75ca,7437560d8f276d6d05eeb806d9e7edee,737295a86982c941f1c2da9a46a14043,2013-03-26 00:00:00,135270,0,SAL,...,CLTATLSAL,NV,U,Y,2013-07-15 07:00:00,2013-07-15 11:34:51,1,2013,3,NULL
3,2013-03-26 00:00:00,1A,AU,0f984b3bb6bd06661c95529bbd6193bc,36472c6dbaf7afec9136ac40364e2794,5ecf00fdcbcec761c43dc7285253d0c1,2013-03-26 00:00:00,30885,0,AKL,...,AKLHKGSVO,XK,G,Y,2013-04-24 23:59:00,2013-04-25 16:06:31,1,2013,3,SYDA82546
4,2013-03-26 00:00:00,1A,AU,0f984b3bb6bd06661c95529bbd6193bc,36472c6dbaf7afec9136ac40364e2794,5ecf00fdcbcec761c43dc7285253d0c1,2013-03-26 00:00:00,30885,0,AKL,...,SVOHKGAKL,XK,G,Y,2013-05-14 20:15:00,2013-05-16 10:44:50,1,2013,3,SYDA82546
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,2013-05-18 00:00:00,1A,LK,1a5585bef21f0bf8dc865a87843635f9,6ff8fd087f94799d7aed903683384775,3b339797f7eca14c24e8b7565da822c0,2013-05-14 00:00:00,13203,0,CMB,...,MAACMB,FV,V,Y,2013-05-24 16:05:00,2013-05-24 17:38:39,-1,2013,5,NULL
999996,2013-05-18 00:00:00,1A,LK,1a5585bef21f0bf8dc865a87843635f9,6ff8fd087f94799d7aed903683384775,3b339797f7eca14c24e8b7565da822c0,2013-05-14 00:00:00,6003,0,CMB,...,MAACMB,FV,V,Y,2013-05-19 16:05:00,2013-05-19 17:38:39,1,2013,5,NULL
999997,2013-05-28 00:00:00,1A,US,07e98d2fd3cd4b737266b99727f7faa8,e8741eaf2fa2f71f931475d18fa72096,2b22597bdad931843c3b1d5219836e07,2013-05-28 00:00:00,328,1865,AUS,...,AUSDFWRDU,KK,Q,Y,2013-07-12 08:35:00,2013-07-12 15:03:14,1,2013,5,SEAEX38AA
999998,2013-05-28 00:00:00,1A,FR,e2679367673d50f1ee085127d8a00eba,5f26f53ca29672815e0ee3bd93a2b0e4,4eb40315a7263131ae17712cd505b62a,2013-05-28 00:00:00,588,0,TLS,...,TLSORY,KP,S,Y,2013-06-04 10:50:00,2013-06-04 12:18:20,1,2013,5,LYSSR210Z
999999,2013-05-28 00:00:00,1A,FR,e2679367673d50f1ee085127d8a00eba,5f26f53ca29672815e0ee3bd93a2b0e4,4eb40315a7263131ae17712cd505b62a,2013-05-28 00:00:00,588,0,TLS,...,ORYTLS,KP,S,Y,2013-06-04 19:10:00,2013-06-04 20:38:20,1,2013,5,LYSSR210Z

Making sample variables for the files

In [5]:
bookings_sample = read_sample_file(folder_path+bookings_file)

In [6]:
searches_sample = read_sample_file(folder_path+searches_file)

C:\Users\Pablo Villar\AppData\Local\Temp\ipykernel_21288\2203982266.py:4: DtypeWarning: Columns (44) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(path,

## 1. Get familiar with data
**Basic Data Exploration**

In [8]:
bookings_sample.shape

(1000000, 38)

In [7]:
searches_sample.shape

(1000000, 45)

In [9]:
bookings_sample.columns.tolist()

['act_date           ',
 'source',
 'pos_ctry',
 'pos_iata',
 'pos_oid  ',
 'rloc          ',
 'cre_date           ',
 'duration',
 'distance',
 'dep_port',
 'dep_city',
 'dep_ctry',
 'arr_port',
 'arr_city',
 'arr_ctry',
 'lst_port',
 'lst_city',
 'lst_ctry',
 'brd_port',
 'brd_city',
 'brd_ctry',
 'off_port',
 'off_city',
 'off_ctry',
 'mkt_port',
 'mkt_city',
 'mkt_ctry',
 'intl',
 'route          ',
 'carrier',
 'bkg_class',
 'cab_class',
 'brd_time           ',
 'off_time           ',
 'pax',
 'year',
 'month',
 'oid      ']

In [10]:
searches_sample.columns.tolist()

['Date',
 'Time',
 'TxnCode',
 'OfficeID',
 'Country',
 'Origin',
 'Destination',
 'RoundTrip',
 'NbSegments',
 'Seg1Departure',
 'Seg1Arrival',
 'Seg1Date',
 'Seg1Carrier',
 'Seg1BookingCode',
 'Seg2Departure',
 'Seg2Arrival',
 'Seg2Date',
 'Seg2Carrier',
 'Seg2BookingCode',
 'Seg3Departure',
 'Seg3Arrival',
 'Seg3Date',
 'Seg3Carrier',
 'Seg3BookingCode',
 'Seg4Departure',
 'Seg4Arrival',
 'Seg4Date',
 'Seg4Carrier',
 'Seg4BookingCode',
 'Seg5Departure',
 'Seg5Arrival',
 'Seg5Date',
 'Seg5Carrier',
 'Seg5BookingCode',
 'Seg6Departure',
 'Seg6Arrival',
 'Seg6Date',
 'Seg6Carrier',
 'Seg6BookingCode',
 'From',
 'IsPublishedForNeg',
 'IsFromInternet',
 'IsFromVista',
 'TerminalID',
 'InternetOffice']

In [11]:
bookings_sample.head()

,act_date,source,pos_ctry,pos_iata,pos_oid,rloc,cre_date,duration,distance,dep_port,...,route,carrier,bkg_class,cab_class,brd_time,off_time,pax,year,month,oid
0,2013-03-05 00:00:00,1A,DE,a68dd7ae953c8acfb187a1af2dcbe123,1a11ae49fcbf545fd2afc1a24d88d2b7,ea65900e72d71f4626378e2ebd298267,2013-02-22 00:00:00,1708,0,ZRH,...,LHRZRH,VI,T,Y,2013-03-07 08:50:00,2013-03-07 11:33:37,-1,2013,3,NULL
1,2013-03-26 00:00:00,1A,US,e612b9eeeee6f17f42d9b0d3b79e75ca,7437560d8f276d6d05eeb806d9e7edee,737295a86982c941f1c2da9a46a14043,2013-03-26 00:00:00,135270,0,SAL,...,SALATLCLT,NV,L,Y,2013-04-12 13:04:00,2013-04-12 22:05:40,1,2013,3,NULL
2,2013-03-26 00:00:00,1A,US,e612b9eeeee6f17f42d9b0d3b79e75ca,7437560d8f276d6d05eeb806d9e7edee,737295a86982c941f1c2da9a46a14043,2013-03-26 00:00:00,135270,0,SAL,...,CLTATLSAL,NV,U,Y,2013-07-15 07:00:00,2013-07-15 11:34:51,1,2013,3,NULL
3,2013-03-26 00:00:00,1A,AU,0f984b3bb6bd06661c95529bbd6193bc,36472c6dbaf7afec9136ac40364e2794,5ecf00fdcbcec761c43dc7285253d0c1,2013-03-26 00:00:00,30885,0,AKL,...,AKLHKGSVO,XK,G,Y,2013-04-24 23:59:00,2013-04-25 16:06:31,1,2013,3,SYDA82546
4,2013-03-26 00:00:00,1A,AU,0f984b3bb6bd06661c95529bbd6193bc,36472c6dbaf7afec9136ac40364e2794,5ecf00fdcbcec761c43dc7285253d0c1,2013-03-26 00:00:00,30885,0,AKL,...,SVOHKGAKL,XK,G,Y,2013-05-14 20:15:00,2013-05-16 10:44:50,1,2013,3,SYDA82546

In [12]:
searches_sample.head()

,Date,Time,TxnCode,OfficeID,Country,Origin,Destination,RoundTrip,NbSegments,Seg1Departure,...,Seg6Arrival,Seg6Date,Seg6Carrier,Seg6BookingCode,From,IsPublishedForNeg,IsFromInternet,IsFromVista,TerminalID,InternetOffice
0,2013-01-01,20:25:57,MPT,624d8c3ac0b3a7ca03e3c167e0f48327,DE,TXL,AUH,1,2,TXL,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,FRA
1,2013-01-01,10:15:33,MPT,b0af35b31588dc4ab06d5cf2986e8e02,MD,ATH,MIL,0,1,ATH,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,KIV
2,2013-01-01,18:04:49,MPT,3561a60621de06ab1badc8ca55699ef3,US,ICT,SFO,1,2,ICT,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,NYC
3,2013-01-01,17:42:40,FXP,1864e5e8013d9414150e91d26b6a558b,SE,RNB,ARN,0,1,RNB,...,NaN,NaN,NaN,NaN,1ASI,0,0,0,d41d8cd98f00b204e9800998ecf8427e,STO
4,2013-01-01,17:48:29,MPT,1ec336348f44207d2e0027dc3a68c118,NO,OSL,MAD,1,2,OSL,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,OSL

In [13]:
bookings_sample.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 38 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   act_date             1000000 non-null  object
 1   source               1000000 non-null  object
 2   pos_ctry             1000000 non-null  object
 3   pos_iata             1000000 non-null  object
 4   pos_oid              1000000 non-null  object
 5   rloc                 1000000 non-null  object
 6   cre_date             1000000 non-null  object
 7   duration             1000000 non-null  int64
 8   distance             1000000 non-null  int64
 9   dep_port             1000000 non-null  object
 10  dep_city             1000000 non-null  object
 11  dep_ctry             1000000 non-null  object
 12  arr_port             1000000 non-null  object
 13  arr_city             1000000 non-null  object
 14  arr_ctry             1000000 non-null  object
 15  lst_port             1000000 non-null  object
 16  lst_city             1000000 non-null  object
 17  lst_ctry             1000000 non-null  object
 18  brd_port             1000000 non-null  object
 19  brd_city             1000000 non-null  object
 20  brd_ctry             1000000 non-null  object
 21  off_port             1000000 non-null  object
 22  off_city             1000000 non-null  object
 23  off_ctry             1000000 non-null  object
 24  mkt_port             1000000 non-null  object
 25  mkt_city             1000000 non-null  object
 26  mkt_ctry             1000000 non-null  object
 27  intl                 1000000 non-null  int64
 28  route                1000000 non-null  object
 29  carrier              1000000 non-null  object
 30  bkg_class            1000000 non-null  object
 31  cab_class            1000000 non-null  object
 32  brd_time             1000000 non-null  object
 33  off_time             1000000 non-null  object
 34  pax                  1000000 non-null  int64
 35  year                 1000000 non-null  int64
 36  month                1000000 non-null  int64
 37  oid                  1000000 non-null  object
dtypes: int64(6), object(32)
memory usage: 289.9+ MB

In [14]:
searches_sample.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 45 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   Date               1000000 non-null  object
 1   Time               1000000 non-null  object
 2   TxnCode            1000000 non-null  object
 3   OfficeID           1000000 non-null  object
 4   Country            999878 non-null   object
 5   Origin             1000000 non-null  object
 6   Destination        1000000 non-null  object
 7   RoundTrip          1000000 non-null  int64
 8   NbSegments         1000000 non-null  int64
 9   Seg1Departure      1000000 non-null  object
 10  Seg1Arrival        1000000 non-null  object
 11  Seg1Date           997115 non-null   object
 12  Seg1Carrier        375381 non-null   object
 13  Seg1BookingCode    102150 non-null   object
 14  Seg2Departure      709149 non-null   object
 15  Seg2Arrival        709149 non-null   object
 16  Seg2Date           705715 non-null   object
 17  Seg2Carrier        260679 non-null   object
 18  Seg2BookingCode    87751 non-null    object
 19  Seg3Departure      51910 non-null    object
 20  Seg3Arrival        51910 non-null    object
 21  Seg3Date           51600 non-null    object
 22  Seg3Carrier        49383 non-null    object
 23  Seg3BookingCode    47297 non-null    object
 24  Seg4Departure      42044 non-null    object
 25  Seg4Arrival        42044 non-null    object
 26  Seg4Date           41769 non-null    object
 27  Seg4Carrier        41696 non-null    object
 28  Seg4BookingCode    41177 non-null    object
 29  Seg5Departure      8007 non-null     object
 30  Seg5Arrival        8007 non-null     object
 31  Seg5Date           7936 non-null     object
 32  Seg5Carrier        7965 non-null     object
 33  Seg5BookingCode    7840 non-null     object
 34  Seg6Departure      4791 non-null     object
 35  Seg6Arrival        4791 non-null     object
 36  Seg6Date           4738 non-null     object
 37  Seg6Carrier        4786 non-null     object
 38  Seg6BookingCode    4695 non-null     object
 39  From               983376 non-null   object
 40  IsPublishedForNeg  1000000 non-null  int64
 41  IsFromInternet     1000000 non-null  int64
 42  IsFromVista        1000000 non-null  int64
 43  TerminalID         1000000 non-null  object
 44  InternetOffice     1000000 non-null  object
dtypes: int64(5), object(40)
memory usage: 343.3+ MB

### Columns that we need from bookings file to match with searches:

|searches [index]|bookings [index]|
|:---:|:---:|
|Origin [5]|dep_port [9]|
|Destination [6]|arr_port [12]|
|Date [0]|cre_date [6]|
|Seg1Date [11]|brd_time [32]|

I take `cre_date` column because it's the creation date of the booking

Always it's better to know more about the data columns to do a good exploration

## 2. Prepare the data for processing

In [15]:
interest_columns_bookings = [6,9,12,32]

bookings_sample_interest = bookings_sample.iloc[:,interest_columns_bookings]
bookings_sample_interest.head()

   cre_date             dep_port  arr_port  brd_time
0  2013-02-22 00:00:00  ZRH       LHR       2013-03-07 08:50:00
1  2013-03-26 00:00:00  SAL       CLT       2013-04-12 13:04:00
2  2013-03-26 00:00:00  SAL       CLT       2013-07-15 07:00:00
3  2013-03-26 00:00:00  AKL       SVO       2013-04-24 23:59:00
4  2013-03-26 00:00:00  AKL       SVO       2013-05-14 20:15:00

`cre_date` don't have the correct format so we will take the date slicing it

In [16]:
bookings_sample_interest.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 4 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   cre_date             1000000 non-null  object
 1   dep_port             1000000 non-null  object
 2   arr_port             1000000 non-null  object
 3   brd_time             1000000 non-null  object
dtypes: object(4)
memory usage: 30.5+ MB

In [17]:
bookings_sample_interest.columns = bookings_sample_interest.columns.str.strip()
bookings_sample_interest.columns.tolist()

['cre_date', 'dep_port', 'arr_port', 'brd_time']

In [26]:
bookings_sample_interest['cre_date'] = bookings_sample_interest['cre_date'].str[:10]
bookings_sample_interest['brd_time'] = bookings_sample_interest['brd_time'].str[:10]
bookings_sample_interest[['cre_date','brd_time']]

C:\Users\Pablo Villar\AppData\Local\Temp\ipykernel_21288\2570434104.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bookings_sample_interest['cre_date'] = bookings_sample_interest['cre_date'].str[:10]
C:\Users\Pablo Villar\AppData\Local\Temp\ipykernel_21288\2570434104.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bookings_sample_interest['brd_time'] = bookings_sample_interest['brd_time'].str[:10]

          cre_date    brd_time
0       2013-02-22  2013-03-07
1       2013-03-26  2013-04-12
2       2013-03-26  2013-07-15
3       2013-03-26  2013-04-24
4       2013-03-26  2013-05-14
...            ...         ...
999995  2013-05-14  2013-05-24
999996  2013-05-14  2013-05-19
999997  2013-05-28  2013-07-12
999998  2013-05-28  2013-06-04
999999  2013-05-28  2013-06-04

[1000000 rows x 2 columns]

After remove the time slicing, we need to convert the column `cre_date` and `brd_time` to pandas datetime.

We could do the same but with pandas

In [27]:
# convert to datetime
bookings_sample_interest['cre_date'] = pd.to_datetime(bookings_sample_interest['cre_date'])
bookings_sample_interest.dtypes

C:\Users\Pablo Villar\AppData\Local\Temp\ipykernel_21288\2400363267.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bookings_sample_interest['cre_date'] = pd.to_datetime(bookings_sample_interest['cre_date'])

cre_date    datetime64[ns]
dep_port            object
arr_port            object
brd_time            object
dtype: object

In [28]:
# remove time from Date and it returns us an object type like before
bookings_sample_interest['cre_date'] = bookings_sample_interest['cre_date'].dt.date

C:\Users\Pablo Villar\AppData\Local\Temp\ipykernel_21288\3853986398.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bookings_sample_interest['cre_date'] = bookings_sample_interest['cre_date'].dt.date

In [29]:
bookings_sample_interest.dtypes

cre_date    object
dep_port    object
arr_port    object
brd_time    object
dtype: object

In [30]:
bookings_sample_interest.head()

     cre_date  dep_port  arr_port    brd_time
0  2013-02-22  ZRH       LHR       2013-03-07
1  2013-03-26  SAL       CLT       2013-04-12
2  2013-03-26  SAL       CLT       2013-07-15
3  2013-03-26  AKL       SVO       2013-04-24
4  2013-03-26  AKL       SVO       2013-05-14

Now go with searches

In [31]:
interest_columns_searches = [0, 5, 6, 11]

searches_sample_interest = searches_sample.iloc[:,interest_columns_searches]
searches_sample_interest.columns.tolist()

['Date', 'Origin', 'Destination', 'Seg1Date']

In [32]:
searches_sample_interest.head()

         Date Origin Destination    Seg1Date
0  2013-01-01    TXL         AUH  2013-01-26
1  2013-01-01    ATH         MIL  2013-01-04
2  2013-01-01    ICT         SFO  2013-08-02
3  2013-01-01    RNB         ARN  2013-01-02
4  2013-01-01    OSL         MAD  2013-03-22

We need to check the quality of the data that we didn't check yet

**Na values** or **duplicates**

BOOKINGS preparing data

In [37]:
# searching for na values

bookings_sample_interest.isna().sum()

cre_date    0
dep_port    0
arr_port    0
brd_time    0
dtype: int64

In [38]:
# searching for duplicates

bookings_sample_interest.duplicated().sum()

341002

Let's drop the duplicates

In [40]:
bookings_sample_interest_no_dups = bookings_sample_interest.drop_duplicates()

In [41]:
bookings_sample_interest_no_dups.shape

(658998, 4)

In [42]:
bookings_sample_interest.shape

(1000000, 4)

Wow look at this:

In bookings sample file we got 1.000.000 rows and 341.002 rows were duplicates

In [46]:
# Checking unique dep_ports in the sample

len(bookings_sample_interest_no_dups['dep_port'].unique())

2146

In [48]:
# Checking the size of the values in dep_port should got 3 for the iata_codes

[i for i in bookings_sample_interest_no_dups['dep_port'] if len(i)<=3]

[]

In [67]:
bookings_sample_interest_no_dups['dep_port'] = bookings_sample_interest_no_dups['dep_port'].str.strip()

C:\Users\Pablo Villar\AppData\Local\Temp\ipykernel_21288\495562857.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bookings_sample_interest_no_dups['dep_port'] = bookings_sample_interest_no_dups['dep_port'].str.strip()

In [69]:
# Now if we say equals to 3 it returns us all the values

for i in bookings_sample_interest_no_dups['dep_port']:
    if len(i)==3:
        pass
    else:
        print("The iata_code gots different lenght")

SEARCHES preparing data

In [70]:
searches_sample_interest.isna().sum()

Date              0
Origin            0
Destination       0
Seg1Date       2885
dtype: int64

In [72]:
searches_sample_interest.duplicated().sum()

641668

In [73]:
searches_sample_interest.shape

(1000000, 4)

In [75]:
searches_sample_interest_no_dups = searches_sample_interest.drop_duplicates()
searches_sample_interest_no_dups.shape

(358332, 4)

## 3. Make action plan

* First we will make a data preprocessing function. One for **bookings** and another for **searches**
* Then store this data clean in csv with chunks to make a faster process of computation
*

## 4. Develop the code that works with a sample

Paths

In [77]:
# Paths form the entire files

path_searches = "C:/Users/Pablo Villar/Desktop/CURSOS/KSchool/MÃ¡ster en Data Science/8. Data Science Challenge/searches.csv.bz2"
path_bookings = "C:/Users/Pablo Villar/Desktop/CURSOS/KSchool/MÃ¡ster en Data Science/8. Data Science Challenge/bookings.csv.bz2"

# Paths with the clean data

path_searches_no_dup = "C:/Users/Pablo Villar/Desktop/GitHub/DS_Challenge/ds_exercises/searches_no_dups.csv"
path_bookings_no_dup = "C:/Users/Pablo Villar/Desktop/GitHub/DS_Challenge/ds_exercises/bookings_no_dups.csv"

Reading the data with chunks

**SEARCHES**

In [83]:
%%time

data_iterator = pd.read_csv(path_searches, 
                            chunksize=2e5,
                            nrows=2e6,              # To run the function with sample data
                            sep='^', 
                            compression='bz2', 
                            low_memory=False, 
                            dtype=str)

searches = pd.DataFrame()

for i, data_chunk in enumerate(data_iterator):
    searches = searches.append(data_chunk)
    searches.drop_duplicates(inplace=True)                              # Drop duplicates cost a lot of time
    searches.to_csv(path_searches_no_dup, sep='^', index=False)
    print('Chunk: %d, size of chunk %d' %(i+1, searches.shape[0]))

<timed exec>:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

Chunk: 1, size of chunk 199999

<timed exec>:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

Chunk: 2, size of chunk 358999

<timed exec>:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

Chunk: 3, size of chunk 358999

<timed exec>:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

Chunk: 4, size of chunk 358999

<timed exec>:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

Chunk: 5, size of chunk 358999

<timed exec>:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

Chunk: 6, size of chunk 358999

<timed exec>:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

Chunk: 7, size of chunk 358999

<timed exec>:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

Chunk: 8, size of chunk 359003

<timed exec>:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

Chunk: 9, size of chunk 359003

<timed exec>:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

Chunk: 10, size of chunk 359003
CPU times: total: 16.1 s
Wall time: 1min 30s

In [84]:
searches.head()

,Date,Time,TxnCode,OfficeID,Country,Origin,Destination,RoundTrip,NbSegments,Seg1Departure,...,Seg6Arrival,Seg6Date,Seg6Carrier,Seg6BookingCode,From,IsPublishedForNeg,IsFromInternet,IsFromVista,TerminalID,InternetOffice
0,2013-01-01,20:25:57,MPT,624d8c3ac0b3a7ca03e3c167e0f48327,DE,TXL,AUH,1,2,TXL,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,FRA
1,2013-01-01,10:15:33,MPT,b0af35b31588dc4ab06d5cf2986e8e02,MD,ATH,MIL,0,1,ATH,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,KIV
2,2013-01-01,18:04:49,MPT,3561a60621de06ab1badc8ca55699ef3,US,ICT,SFO,1,2,ICT,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,NYC
3,2013-01-01,17:42:40,FXP,1864e5e8013d9414150e91d26b6a558b,SE,RNB,ARN,0,1,RNB,...,NaN,NaN,NaN,NaN,1ASI,0,0,0,d41d8cd98f00b204e9800998ecf8427e,STO
4,2013-01-01,17:48:29,MPT,1ec336348f44207d2e0027dc3a68c118,NO,OSL,MAD,1,2,OSL,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,OSL

**BOOKINGS**

In [88]:
%%time

interest_columns_bookings = [6,9,12,32]

data_iterator = pd.read_csv(path_bookings,
                            chunksize = 2e5,
                            sep = '^',
                            compression = 'bz2',
                            nrows = 2e6,
                            usecols = interest_columns_bookings,
                            low_memory=True, 
                            dtype=str)

bookings = pd.DataFrame()
for i, data_chunk in enumerate(data_iterator):
    #data_chunk = bookings_data_preprocessing(data_chunk)
    #data_chunk.reset_index(inplace=True)
    data_chunk['Booking'] = 1
    bookings = bookings.append(data_chunk)
    bookings.drop_duplicates(inplace=True)
    print("Chunk: %d, size of chunk %d" %(i+1, bookings.shape[0]))

<timed exec>:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

Chunk: 1, size of chunk 141941

<timed exec>:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

Chunk: 2, size of chunk 282520

<timed exec>:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

Chunk: 3, size of chunk 425673

<timed exec>:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

Chunk: 4, size of chunk 567197

<timed exec>:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

Chunk: 5, size of chunk 708879

<timed exec>:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

Chunk: 6, size of chunk 708879

<timed exec>:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

Chunk: 7, size of chunk 708879

<timed exec>:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

Chunk: 8, size of chunk 708879

<timed exec>:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

Chunk: 9, size of chunk 708879

<timed exec>:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

Chunk: 10, size of chunk 708879
CPU times: total: 5.22 s
Wall time: 45.2 s

We should clean the columns of bookings that have blank spaces

In [89]:
bookings.columns = bookings.columns.str.strip()
bookings.columns.tolist()

['cre_date', 'dep_port', 'arr_port', 'brd_time', 'Booking']

In [90]:
# Store the data in a new csv without duplicates

bookings.to_csv(path_bookings_no_dup, sep='^', index=False)

At this moment we have the new data stored by chunks without duplicates.

Read the smaller data with no duplicates cleaning it while reading and `merge` **Searches** with **Bookings**

In [ ]:
def searches_data_preprocessing(df, columns_to_clean):
    '''
    '''
    df.drop_duplicates(inplace=True)
    df.dropna(inplace=True, subset=['Date', 'Seg1Departure'])
    
    for column in columns_to_clean:
        df[column] = df[column].str.strip()
        
        if 'Date' not in column:
            df[column] = df[column].str.upper()
            
            # Para saber si hay lengths superiores a 3 sin que nos de error por los missing values
            cell_lengths = df[column].map(lambda x: len(x) if not isinstance(x, float) else x)
            cell_lengths_notna = cell_lengths[cell_lengths.notna()]
            cell_lengths_sum = (cell_lengths_notna != 3.0).sum()
            
            if cell_lengths_sum != 0:
                print(f'Alert! There are `{column}` values with length different than 3. Dropping them..')
                mask = cell_lengths_notna != 3.0
                wrong_data = cell_lengths_notna[mask]
                print(wrong_data)
                df.drop(index=wrong_data.index, inplace=True)
    return df

In [91]:
searches_no_dups = pd.read_csv(path_searches_no_dup,
                               sep='^')
searches_no_dups.head()

C:\Users\Pablo Villar\AppData\Local\Temp\ipykernel_21288\789803401.py:1: DtypeWarning: Columns (40,41,42,44) have mixed types. Specify dtype option on import or set low_memory=False.
  searches_no_dups = pd.read_csv(path_searches_no_dup,

,Date,Time,TxnCode,OfficeID,Country,Origin,Destination,RoundTrip,NbSegments,Seg1Departure,...,Seg6Arrival,Seg6Date,Seg6Carrier,Seg6BookingCode,From,IsPublishedForNeg,IsFromInternet,IsFromVista,TerminalID,InternetOffice
0,2013-01-01,20:25:57,MPT,624d8c3ac0b3a7ca03e3c167e0f48327,DE,TXL,AUH,1.0,2.0,TXL,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,FRA
1,2013-01-01,10:15:33,MPT,b0af35b31588dc4ab06d5cf2986e8e02,MD,ATH,MIL,0.0,1.0,ATH,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,KIV
2,2013-01-01,18:04:49,MPT,3561a60621de06ab1badc8ca55699ef3,US,ICT,SFO,1.0,2.0,ICT,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,NYC
3,2013-01-01,17:42:40,FXP,1864e5e8013d9414150e91d26b6a558b,SE,RNB,ARN,0.0,1.0,RNB,...,NaN,NaN,NaN,NaN,1ASI,0,0,0,d41d8cd98f00b204e9800998ecf8427e,STO
4,2013-01-01,17:48:29,MPT,1ec336348f44207d2e0027dc3a68c118,NO,OSL,MAD,1.0,2.0,OSL,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,OSL

In [92]:
searches_no_dups.columns.to_list()

['Date',
 'Time',
 'TxnCode',
 'OfficeID',
 'Country',
 'Origin',
 'Destination',
 'RoundTrip',
 'NbSegments',
 'Seg1Departure',
 'Seg1Arrival',
 'Seg1Date',
 'Seg1Carrier',
 'Seg1BookingCode',
 'Seg2Departure',
 'Seg2Arrival',
 'Seg2Date',
 'Seg2Carrier',
 'Seg2BookingCode',
 'Seg3Departure',
 'Seg3Arrival',
 'Seg3Date',
 'Seg3Carrier',
 'Seg3BookingCode',
 'Seg4Departure',
 'Seg4Arrival',
 'Seg4Date',
 'Seg4Carrier',
 'Seg4BookingCode',
 'Seg5Departure',
 'Seg5Arrival',
 'Seg5Date',
 'Seg5Carrier',
 'Seg5BookingCode',
 'Seg6Departure',
 'Seg6Arrival',
 'Seg6Date',
 'Seg6Carrier',
 'Seg6BookingCode',
 'From',
 'IsPublishedForNeg',
 'IsFromInternet',
 'IsFromVista',
 'TerminalID',
 'InternetOffice']